In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
trades = pd.read_csv('../data/NEPH-Trades.csv')
market_maker = pd.read_csv('../data/market-maker.csv')

In [3]:
market_maker

,marketmaker,date,sym_root,ordertype,size,orders,shares,realizedSpread,effectiveSpread,sharesPI,percPI,PIAmount,SharesAtQuote,AtQuoteTime,SharesOutsideQuote,OutsideAmt,OutsideTime
0,CDRG,1/31/2022,NEPH,Market,100,6,1527,0.1375,0.1560,1527,1.000000,0.0133,0,0,0,0,0
1,NITE,1/31/2022,NEPH,Market,100,9,1171,0.0794,0.0856,970,0.828352,0.0344,201,0,0,0,0
2,ETMM,1/31/2022,NEPH,Market,100,6,1070,0.0596,0.0284,1070,1.000000,0.0486,0,0,0,0,0
3,JNST,1/31/2022,NEPH,Market,100,6,894,0.0620,0.0245,879,0.983221,0.0540,15,0,0,0,0
4,UBSS,1/31/2022,NEPH,Market,100,1,250,0.1862,0.1862,250,1.000000,0.0019,0,0,0,0,0

In [4]:
trades

,DATE,TIME_M,SYM_ROOT,type,EX,SIZE,PRICE,TR_STOP_IND,TR_SEQNUM,TR_ID,...,ESBuy,ESSell,RSBuy,RSSell,PIBuy,AtNBO,OutsideNBO,PISell,AtNBB,OutsideNBB
0,1/3/2022,12/30/1899,NEPH,T,D,100,6.1200,NaN,4969810,21,...,-0.1900,0.1900,-0.2500,0.2500,1,0,0,1,0,0
1,1/3/2022,12/30/1899,NEPH,T,D,100,6.1200,NaN,4969818,22,...,-0.1900,0.1900,-0.2500,0.2500,1,0,0,1,0,0
2,1/3/2022,12/30/1899,NEPH,T,D,100,6.1200,NaN,4969819,23,...,-0.1900,0.1900,-0.2500,0.2500,1,0,0,1,0,0
3,1/4/2022,12/30/1899,NEPH,T,D,100,5.8201,NaN,6167843,12,...,0.3698,-0.3698,0.3898,-0.3898,1,0,0,1,0,0
4,1/5/2022,12/30/1899,NEPH,T,D,100,5.8317,NaN,2408872,3,...,0.0566,-0.0566,-0.1634,0.1634,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,1/28/2022,12/30/1899,NEPH,T,D,400,4.4250,NaN,5926484,45,...,0.0000,0.0000,0.0500,-0.0500,1,0,0,1,0,0
279,1/19/2022,12/30/1899,NEPH,T,D,410,4.9700,NaN,5363486,14,...,0.0800,-0.0800,0.0800,-0.0800,1,0,0,1,0,0
280,1/26/2022,12/30/1899,NEPH,T,D,450,4.4999,NaN,6707793,15,...,-0.2398,0.2398,-0.0998,0.0998,1,0,0,1,0,0
281,1/13/2022,12/30/1899,NEPH,T,D,457,5.5100,NaN,384382,3,...,0.0900,-0.0900,0.0900,-0.0900,1,0,0,0,1,0
282,1/20/2022,12/30/1899,NEPH,T,D,495,5.1717,NaN,2214359,7,...,-0.0134,0.0134,-0.4434,0.4434,1,0,0,1,0,0

In [5]:
def possible_trades(trades_df: pd.DataFrame, orders: int, shares: int, approx: int = 0):
    """Yields the possible trades given the trades dataframe, orders, shares, and approx

    Args:
        trades_df (pd.DataFrame): pd.DataFrame of trades, containing only the size column
        orders (int): Integer representing the number of orders a firm has made
        shares (int): Total sum of shares
        approx (int, optional): If there are no exact matches, approx will allow ±approx of the total. Defaults to 0.
    """
    for combo in itertools.combinations(trades_df.iterrows(), orders):
        combo_ids, combo_sizes = zip(*[(index, row.SIZE) for index, row in combo])
        if sum(combo_sizes) + approx >= shares >= sum(combo_sizes) - approx:
            yield combo_ids, sum(combo_sizes)

In [6]:
CDRG = list(itertools.islice(possible_trades(trades,6,1527), 10))

In [7]:
NITE = list(itertools.islice(possible_trades(trades,9,1171), 10))

In [8]:
ETMM = list(itertools.islice(possible_trades(trades,6,1070), 10))

In [9]:
JNST = list(itertools.islice(possible_trades(trades,6,894), 10))

In [10]:
UBSS = list(itertools.islice(possible_trades(trades,1,250), 10))

In [18]:
JNST

[((0, 1, 2, 3, 148, 264), 894),
 ((0, 1, 2, 3, 159, 258), 894),
 ((0, 1, 2, 3, 159, 259), 894),
 ((0, 1, 2, 3, 200, 227), 894),
 ((0, 1, 2, 3, 201, 227), 894),
 ((0, 1, 2, 4, 148, 264), 894),
 ((0, 1, 2, 4, 159, 258), 894),
 ((0, 1, 2, 4, 159, 259), 894),
 ((0, 1, 2, 4, 200, 227), 894),
 ((0, 1, 2, 4, 201, 227), 894)]

In [20]:
indices, total = list(zip(*first_10_possibilities))

In [23]:
trades.iloc[list(indices[1]), :]

,DATE,TIME_M,SYM_ROOT,type,EX,SIZE,PRICE,TR_STOP_IND,TR_SEQNUM,TR_ID,...,ESBuy,ESSell,RSBuy,RSSell,PIBuy,AtNBO,OutsideNBO,PISell,AtNBB,OutsideNBB
0,1/3/2022,12/30/1899,NEPH,T,D,100,6.1200,NaN,4969810,21,...,-0.1900,0.1900,-0.2500,0.2500,1,0,0,1,0,0
1,1/3/2022,12/30/1899,NEPH,T,D,100,6.1200,NaN,4969818,22,...,-0.1900,0.1900,-0.2500,0.2500,1,0,0,1,0,0
2,1/3/2022,12/30/1899,NEPH,T,D,100,6.1200,NaN,4969819,23,...,-0.1900,0.1900,-0.2500,0.2500,1,0,0,1,0,0
264,1/3/2022,12/30/1899,NEPH,T,D,377,5.9901,NaN,706927,1,...,-0.1702,0.1702,-0.1702,0.1702,1,0,0,1,0,0
265,1/12/2022,12/30/1899,NEPH,T,D,400,5.6799,NaN,3754629,2,...,-0.0898,0.0898,-0.0898,0.0898,1,0,0,1,0,0
280,1/26/2022,12/30/1899,NEPH,T,D,450,4.4999,NaN,6707793,15,...,-0.2398,0.2398,-0.0998,0.0998,1,0,0,1,0,0

In [29]:
market_maker_sum = market_maker['shares'].sum()
trading_sum = trades['SIZE'].sum()

In [31]:
market_maker_sum, trading_sum

(4912, 50170)

In [ ]:
from multiprocessing import Process

def runInParallel(*fns):
    proc = []
    for fn in fns:
        p = Process(target=fn)
        p.start()
        proc.append(p)
    for p in proc:
        p.join()

In [39]:
calls = 0

def fib(i):
    global calls
    calls += 1
    if i == 0 or i == 1:
        return 1
    return fib(i-1) + fib(i-2)

print(fib(5), calls)
calls = 0
print(fib(8), calls)

8 15
34 67